@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F351D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0F351D;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}



@layer base {
  h1 {
    @apply  w-full sm:max-w-179.75  text-[40px] sm:text-[95px] leading-14 sm:leading-25 text-[#0F351D] text-center font-bold ;
  }

  h2 {
    @apply text-[40px] leading-13.75 font-bold;
  }
}






@media (max-width: 1080px) {
  .banner-plyer {
    display: flex;
    flex-direction: column;
  }

  .banner-text {
    order: 3;
  }

  .banner-image {
    order: 2;
  }

  .banner-list {
    order: 1;
  }
}
