@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F351D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 { @apply w-full text-[50px] leading-[60px] md:text-[60px] md:leading-[70px] lg:text-[95px] lg:leading-[100px] text-[#0F351D] text-center font-bold;
  }

  h2 {
    @apply text-[40px] max-md:text-[35px] max-md:leading-12 leading-13.75 font-bold;
  }
}

::marker {
  font-size: 16px;
}
.menu-overlay{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.prefer-section::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 100%;
  top: 0;
  left: 250px;
  right: 0;
  margin: 0 auto;
  background: url(/media/hit-bg.svg) no-repeat center;
  z-index: 0;
}

@media (max-width: 1023px) {
  .prefer-section::before {
    width: 100%;
    left: 0;
    height: 200px;
    top: 50%;
    background: url(/media/hit-bg-mobile.svg) no-repeat center;
  }

  .f-col {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .prefer-section:before {
    background-size: contain;
  }
}