@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F351D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply w-full text-[45px] leading-[52px] md:text-[60px] md:leading-[70px] lg:text-[95px] lg:leading-[100px] text-[#0F351D] text-center font-bold;
  }

  h2 {
    @apply text-[40px] max-md:text-[30px] max-md:leading-12 leading-13.75 font-bold;
  }
}

::marker {
  font-size: 16px;
}

.menu-overlay {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.prefer-section::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 100%;
  top: 0;
  left: 250px;
  right: 0;
  margin: 0 auto;
  background: url(/media/hit-bg.svg) no-repeat center;
  z-index: 0;
}

.play-wrapper .content-col,
.play-wrapper .image-col {
  width: 50%;
}

.play-wrapper:nth-child(even) {
  flex-direction: row-reverse;
}

.turf-for-img::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(36, 57, 43, 0) 0%, #24392B 100%);
  pointer-events: none;
  z-index: 0;
}
.turf-for-img img{
  transition: all .4s ease-in-out;
}
.turf-for-img:hover img{
  transform: scale(1.06);
  transition: all .4s ease-in-out;
}
@media (max-width: 1200px) {
  .play-wrapper .image-col {
    height: 550px !important;
  }

  .support-img {
    height: 555px !important;
  }
}

@media (max-width: 1024px) {
  .home-welcome p {
    font-size: 20px;
  }

  .play-wrapper .image-col {
    height: 450px !important;
  }

  .support-img {
    height: 475px !important;
  }

  .home-welcome .welcome-heading {
    font-size: 24px;
  }
  .f-col{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

@media (max-width: 1023px) {
  .prefer-section::before {
    width: 100%;
    left: 0;
    height: 200px;
    top: 50%;
    background: url(/media/hit-bg-mobile.svg) no-repeat center;
  }

}
@media (max-width: 880px) {
    .support-img {
        height: 355px !important;
    }
    .play-wrapper{
      flex-wrap: wrap;
    }
    .play-wrapper .content-col, .play-wrapper .image-col {
    width: 100% !important;
}
}
@media (max-width: 767px) {
 .play-wrapper .image-col {
    height: 380px !important;
  }
.support-img {
        height: 300px !important;
        margin: 0 !important;
    }
  }
@media (max-width: 425.98px) {
  .banner-image {
    margin-top: -120px;
  }

  .banner-text {
    margin-top: 140px;
  }

}

@media (max-width: 367.98px) {
  .banner-list ul li:last-child {
    margin-top: -20px !important;
  }

  .banner-image {
    margin-top: -165px;
  }

  .banner-text {
    margin-top: 120px;
  }
}

/* @media (max-width: 1024px) {
  .banner-plyer {
    display: flex;
    flex-direction: column;
  .f-col {
    padding: 30px 0;
  }
}

.banner-list ul{
display: flex;
gap:30px;
}

.banner-list ul li:last-child{
margin-top: -17px !important;
}
} */
@media (max-width: 767px) {
  .prefer-section:before {
    background-size: contain;
  }
}