@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F351D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0F351D;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}



@layer base {
  h1 {
    @apply  text-[95px] leading-25 text-[#0F351D] text-center font-bold;
  }
}





