@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F351D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0F351D;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@layer base {
  h1 {
    @apply w-full sm:max-w-179.75 text-4xl md:text-[60px] lg:text-[95px] leading-14 sm:leading-25 text-[#0F351D] text-center font-bold;
  }

  h2 {
    @apply text-[40px] leading-13.75 font-bold;
  }

}


@media (max-width: 1024px) {
  .banner-list ul li:last-child {
    margin-top: -20px !important;
  }

  .home-welcome p {
    font-size: 20px;
  }

  .home-welcome .welcome-heading {
    font-size: 24px;
  }
}




@media (max-width: 820.98px) {
  .banner-list ul li:last-child {
    margin-top: 0 !important;
  }
}

@media (max-width: 699.98px) {
  .banner-list ul li:last-child {
    margin-top: -20px !important;
  }
}

@media (max-width: 487.98px) {
  .banner-list ul li:last-child {
    margin-top: 0px !important;
  }
}


@media (max-width: 425.98px) {
  .banner-image {
    margin-top: -120px;
  }

  .banner-text {
    margin-top: 140px;
  }

}

@media (max-width: 367.98px) {
  .banner-list ul li:last-child {
    margin-top: -20px !important;
  }

  .banner-image {
    margin-top: -165px;
  }

  .banner-text {
    margin-top: 120px;
  }
}

/* @media (max-width: 1024px) {
  .banner-plyer {
    display: flex;
    flex-direction: column;
  }

  .banner-text {
    order: 3;
  }

  .banner-image {
    order: 2;
  }

  .banner-list {
    order: 1;
  }

.banner-list{
justify-content: center !important;
margin-top: 50px !important;

}

.banner-list ul{
display: flex;
gap:30px;
}

.banner-list ul li:last-child{
margin-top: -17px !important;
}
} */