.stack-wrapper {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: calc((565px + 100px) * var(--cards));
}

.stack-card {
  position: sticky;
  height: 565px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px 50px 0 0;
  transform-origin: center;
  display: flex;
  flex-direction: column;
}

.stack-card .card-header {
  position: relative;
  text-align: center;
  font-weight: 600;
}
.stack-card .card-content {
  height: 100%;
  transform: scaleX(var(--inv-scale));
  transform-origin: center;
}
.stack-card .card-header h3 {
  margin: 0;
  font-size: 20px;
}

.stack-card .card-header span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  opacity: 0.6;
}

.stack-card .card-body {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 50px;
}
.stack-card .card-image img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.stack-card .card-text {
  flex: 1;
}


/* card css */

.cards-wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
overflow: visible; 
width: 1170px;

}

.card {
width: 100%;
  height: 600px;
    /* width: 1170px !important; */

  margin: 0 auto 120px auto;
  border-radius: 32px;


  position: sticky;
  top: 80px;


  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.card-2{
  top: 160px;

}

.card-3{
  top: 240px;

}


.card-4{
  top: 350px;
}

