.stack-wrapper {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: calc((565px + 120px) * var(--cards));
}

.stack-card {
  position: sticky;
  top: 150px;
  height: 565px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* HEADER */
/* .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
} */
.card-header span,
.card-header h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;
    color: #0F351D;
}
.card-header span {
    opacity: .2;
    position: absolute;
    top: 40px;
    right: 85px;
}
/* BODY */
.card-body {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 50px;
}

.card-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.card-text {
  flex: 1;
}